/* common auth css */
.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
}