/* login page css */
.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
}

.login-section {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    font-size: 0.875rem;
}